@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<table class="table" id="univ-table">
    <thead>
        <tr>
            <th>
                Guid
            </th>
            <th>
                Code
            </th>
            <th>
                University
            </th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>


@* <script>

    const token = '@Context.Session.GetString("JWToken")';
    let employeesTable = $("#univ-table").DataTable({
        ajax: {
            url: "/university/GetAllUniversity/,
            headers: {
                "Authorization": "Bearer " + token,
            },
            dataSrc: "data",
            dataType: "JSON"
        },
        dom: 'Bfrtip',

        columns: [

            { data: "guid" },
            { data: "code" },
            { data: "name" },
        

    });



</script> *@